{% extends "EditionistaWebsiteBundle::layout.html.twig" %}

{% block breadcrumbs %}
    <li><a href="{{ path('home') }}"><i class="icon-home"></i> Home</a> <span class="divider">/</span></li>
    <li class="active">Submit an Edition</li>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h1>Submit Editions</h1>
        <p>
            Submit one of your Github repositories as a Symfony2 Edition.
        </p>
    </div>
</div>
{% if app.user %}
    {% for repository in repositories %}
        <div class="row-fluid fix-margin space">
            <div class="span12 well well-hover">
                <div class="span1">
                  {% if repository.exists is not defined %}
                    <p>
                        <a href="{{ path('edition_add', {'name': repository.owner.login, 'repo': repository.name }) }}" >
                            <i class="icon-plus icon-3x icon-muted icon-muted-hover" data-placement="left" rel="tooltip" data-original-title="Submit"></i>
                        </a>
                    </p>
                </div>
                <div class="span11">
                    <h2>{{ repository.name }} <small>({{ repository.full_name }})</small></h2>
                  {% else %}
                    <p>
                        <a href="{{ path('edition_edit', {'slug': repository.exists }) }}" >
                            <i class="icon-wrench icon-3x icon-muted icon-muted-hover" data-placement="left" rel="tooltip" data-original-title="Edit"></i>
                        </a>
                    </p>
                </div>
                <div class="span11">
                    <h2><a href="{{ path('edition_show', { 'slug': repository.exists }) }}">{{ repository.name }}</a> <small>({{ repository.full_name }}) <i class="icon-ok icon-muted" data-placement="right" rel="tooltip" data-original-title="Edition has been submitted"></i> </small></h2>
                  {% endif %}
                    <p>
                        <small>Last updated: {{ time_diff(repository.pushed_at) }}, Repository: <a href="{{ repository.html_url }}">{{ repository.git_url }}</a></small>
                    </p>
                    {% if repository.description|length %}
                        <br />
                        <strong>Description</strong>
                        <p>{{ repository.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row-fluid fix-margin space">
            <div class="span12 well">
                <p>Could not fetch any repositories from Github.</p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="row-fluid fix-margin space">
        <div class="span12 well">
            <p>Not logged in.</p>
        </div>
    </div>
{% endif %}

{% endblock %}